<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madhackerdesigns.neverbelate"
    android:versionCode="19"
    android:versionName="@string/version_name">
    
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>
    
    <application android:label="NeverBeLate" android:debuggable="false" android:icon="@drawable/ic_launcher_rabbit3">
    
    	<meta-data android:value="507f773330a246a0aede2710bf1ced96" android:name="ADWHIRL_KEY"/>
    	
		<activity android:name=".settings.NeverBeLateSettings">
			
		</activity>
	<receiver android:name=".service.StartupReceiver" android:process=":remote"><intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"></action>
<category android:name="android.intent.category.HOME"></category>
</intent-filter>

</receiver>

<receiver android:name=".service.TravelTimeReceiver" android:process=":remote">

</receiver>
<uses-library android:name="com.google.android.maps"></uses-library>

<service android:name=".service.NeverBeLateService">
</service>
<activity android:name=".ui.TestActivity" android:finishOnTaskLaunch="false" android:label="NeverTest">
</activity>
<activity android:name=".ui.WarningDialog" android:theme="@android:style/Theme.Light" android:excludeFromRecents="true" android:screenOrientation="portrait" android:stateNotNeeded="true" android:noHistory="false" android:launchMode="singleTop" android:allowTaskReparenting="false" android:taskAffinity="">
    <intent-filter>
        <action android:name="android.intent.action.MAIN"></action>
    </intent-filter>
</activity>
<activity android:name=".ui.LauncherActivity">
        </activity>
<receiver android:name=".service.WakefulServiceReceiver" android:process=":remote"/>
<provider android:name=".provider.AlertsProvider" android:authorities="com.madhackerdesigns.neverbelate.provider.AlertsContract" android:exported="false" />
<activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
<activity android:name=".ui.QuickTourActivity" android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
<activity android:name=".reg.RegistrationForm" android:theme="@android:style/Theme.NoTitleBar">
        <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
</activity>
    
    <activity android:name="com.pontiflex.mobile.sdk.activities.MultiOfferActivity"/>
<activity android:name="com.pontiflex.mobile.sdk.activities.MissingInfoActivity" 
    android:configChanges="keyboardHidden"/>
<activity android:name="com.pontiflex.mobile.sdk.activities.OfferConfirmationActivity"
	android:configChanges="keyboardHidden"/>
<activity android:name="com.pontiflex.mobile.sdk.activities.RegistrationActivity" android:configChanges="keyboardHidden"/>
<activity android:name="com.pontiflex.mobile.sdk.activities.PrivacyPolicyActivity"/>
<activity android:name="com.pontiflex.mobile.sdk.activities.PrivacyPolicyListActivity"/>

</application>
    
</manifest> 
